{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-node",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-class-properties",
    "react-hot-loader/babel",
    "react-loadable/babel"
  ]
}
